<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practica1_npi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="MediaStore.ACTION_IMAGE_CAPTURE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Alhambra Time"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.practica1_npi.MapaTemporal.MapaTemporal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.practica1_npi.MapaTemporal.ActividadTextoPuntoInteres" />
        <activity android:name="com.example.practica1_npi.CazaTesoros.CazaTesoros"/>
        <activity android:name="com.example.practica1_npi.CazaTesoros.DetectorQR"
            android:parentActivityName="com.example.practica1_npi.CazaTesoros.CazaTesoros">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.practica1_npi.CazaTesoros.CazaTesoros" />
        </activity>
    </application>

</manifest>